@mixin news-item {
  @include text-style(body-text);
  @include border--normal(all);

  padding: $lem / 2;
  margin-top: $lem;

  &__date {
    border-bottom: 1px solid;
    margin-bottom: $lem / 2;

    .date {
      @include text-style(section-title);
      padding: calc(#{$lem / 8} + 1px) $lem / 4 $lem / 8;
      display: inline-flex; // otherwise the line height will be not fixed but varying
    }
  }
}
