@mixin contact__links--mobile {
  @include mobile {
    .ul {
      flex-direction: column;
      align-items: flex-start;

      .li {
        &.phone {
          position: absolute;
          right: 0;
          padding-top: 4px;
        }
      }
    }
  }
}
