@mixin webcam__iframe {
  display: none;

  .iframe {
    width: 90vw;
    height: 90vh;

    // To make the close button to work
    position: relative;
    z-index: 1;

    @include colors(white-on-black);
  }

  @include webcam__iframe--portrait;
}
