@mixin program--vertical {
  min-width: 10%;

  display: flex;
  align-items: center;

  .text {
    writing-mode: sideways-lr;
  }

  // when there is no writing mode support (like iPad)
  max-width: 15%;

  .text {
    word-wrap: break-word;
  }
}
