@mixin home__status {
  @include section-padding;
  margin-bottom: $lem;
  display: flex;

  @include home__status__horizontal;
  @include home__status__vertical;

  .status {
    @include status;
  }

  .snow {
    @include snow;
  }

  .weather {
    @include weather;
  }
}
