@mixin home__status {
  @include section-padding;
  margin-bottom: $lem;
  display: inline-flex;

  .snow-and-weather {
    display: flex;
    justify-content: space-between;
  }

  .status,
  .snow,
  .weather {
    @include colors(black-on-white);
    padding: $lem / 2;
  }

  .status {
    @include status;
  }

  .snow {
    @include snow;
  }

  .weather {
    @include weather;
  }

  @include home__status__horizontal;
  @include home__status__vertical;
}
