@mixin home__status {
  @include section-padding;
  margin-bottom: $lem;
  display: inline-flex;

  .snow-and-weather {
    @include colors(black-on-green);
    display: flex;
    justify-content: space-between;
  }

  .status,
  .snow,
  .weather {
    @include colors(black-on-green);
    padding: $lem;
  }

  .status {
    @include status;
  }

  .snow {
    @include snow;
  }

  .weather {
    @include weather;
  }

  @include home__status--horizontal;
  @include home__status--vertical;
  @include home__status--tablet-landscape;
  @include home__status--tablet;
}
