@mixin menu__items--mobile {
  @include mobile {
    margin: $lem / 2 0;

    width: calc(100% - #{$lem / 2});
    @include colors(black-on-white);
    @include border(thick, all);

    .ul {
      @include ul(underlined);
      padding: 0 $lem / 2;
      margin: $lem 0;
    }
  }
}
