@mixin webcam__close {
  display: none;
  cursor: pointer;

  position: absolute;

  // to make the close button to work
  z-index: 30;

  top: $lem + $lem / 4;
  right: $lem;
  width: $lem * 1.5;
  height: $lem * 1.5;

  @include colors(white-on-black);

  .hamburger-menu__icon {
    @include hamburger-menu__icon($lem * 1.5, $lem * 1.5);
    @include hamburger-menu__icon--opened;

    .line-1 {
      position: relative;
      top: 1em;
    }

    .line-2 {
      position: relative;
      top: -1em;
    }
  }
}
