@mixin slider__slides {
  position: relative;
  height: 100%;
  overflow: hidden;

  //@include slider__slides--portrait;
  //@include slider__slides--landscape;

  .slide {
    @include slide;
  }
}
