@mixin navigation--mobile {
  @include mobile {
    &--mobile-and-up {
      display: none;
    }

    &--mobile {
      display: flex;

      .ul {
        flex-direction: column;
        width: 100%;
        @include ul(underlined);

        .li {
          @include text-style(small);
        }
      }
    }
  }
}
