@mixin webcam {
  @include full-page;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__play {
    @include webcam__play;
  }

  &__iframe {
    @include webcam__iframe;
  }

  &__close {
    @include webcam__close;
  }

  &--active {
    @include webcam--active;
  }
}
