<section class="webcam">
  <h3>Webcam</h3>

  <aside class="webcam__play">
  <h3>Start webcam</h3>

  <div class="icon">
  
    <img class="img" src="/assets/images/icon-.svg" alt="">
  
</div>

</aside>

  <article class="webcam__iframe" data-url="">
  <h3>Webcam iframe<h3>


</article>

  <div class="webcam__close">
  <div class="hamburger-menu__icon hamburger-menu__icon--closed">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</div>

</div>

</section>
