$border-normal: 1px solid;

@mixin border--normal($position: bottom) {
  @if ($position == top) {
    border-top: $border-normal;
  }

  @if ($position == bottom) {
    border-bottom: $border-normal;
  }
}
