@mixin contact {
  @include section-padding;
  margin-bottom: $lem;
  margin-top: $lem;

  padding: $lem 0;
  @include border--thick(top);

  .ul {
    @include ul;
  }

  .link {
    @include link(blue-on-white);
  }

  @include contact--portrait;
}
