@mixin contact {
  @include section-padding;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: $lem;
  margin-top: $lem / 2;
  padding-top: $lem;
  padding-bottom: $lem;
  @include border--thick(top);

  @include contact--portrait;

  &__links,
  &__address {
    flex-basis: 50%;
  }

  &__links {
    @include contact__links;
  }

  &__address {
    @include contact__address;
  }

  &__directions {
    @include contact__directions;
  }
}
