@mixin contact {
  @include section-padding;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  &__links,
  &__address {
    flex-basis: 50%;
  }

  @include contact--mobile;

  margin-bottom: $lem;
  margin-top: $lem;
  padding-top: $lem;
  padding-bottom: $lem;
  @include border--thick(top);

  &__links {
    @include contact__links;
  }

  &__address {
    @include contact__address;
  }
}
