


<!doctype html>
<html lang="en" class=" ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title> &mdash; Partia Kissomlyo Sipalya</title>


    <link href="http://metamn.io/sonnyo-demo/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="https://use.typekit.net/nvy7idl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    
    <script src="http://metamn.io/sonnyo-demo/assets/scripts/picturefill.min.js"></script>
  

    
  </head>

  <body>








    <script src="http://metamn.io/sonnyo-demo/assets/scripts/imagesloaded.pkgd.min.js"></script>
  
    <script src="http://metamn.io/sonnyo-demo/assets/scripts/hammer.min.js"></script>
  
    <script src="http://metamn.io/sonnyo-demo/assets/scripts/site.min.js"></script>
  

</body>
</html>

