@mixin news-item__date {
  margin-bottom: $lem / 2;

  .date {
    @include text-style(section-title);
    padding: $lem / 8 $lem / 4;
    display: inline-flex; // otherwise the line height will be not fixed but varying
  }
}
