@mixin home__map-and-news--landscape {
  @include landscape {
    display: flex;
    flex-basis: 0;

    .news {
      flex-grow: 1;
      background: lightblue;
    }

    .map {
      flex-grow: 2;
      background: lightblue;
    }
  }
}
