@mixin home__map-and-news--landscape {
  @include landscape {
    display: flex;

    .news {
      flex-basis: calc(50% - #{$lem / 2});
      margin-left: $lem;
      order: 2;
    }

    .map {
      flex-basis: calc(50% - #{$lem / 2});
    }
  }
}
