@mixin ticket {
  display: flex;
  flex-direction: column;

  @include box-shadow;

  &__title {
    display: flex;

    @include text-style(subtitle);
    padding: $lem / 2;
  }

  &__head {
    @include ticket__head;
  }

  &__row {
    @include ticket__row;
    @include ticket__row--no-last-border;
  }

  @include landscape {
    @include ticket--large;
  }

  @include desktop {
    @include ticket--large-desktop;
  }
}
