@mixin weather {
  display: flex;
  align-items: center;

  .openweather {
    display: flex;
    align-items: center;

    // Hide the ugliness when the API is not available
    &__icon {
      width: $lem * 2;
      overflow: hidden;
      color: $white;

      .img {
        @include img(not-stretched, loading, $white);
      }
    }

    &__celsius {
      margin-left: $lem / 4;
    }
  }
}
