@mixin icon-with-link($width, $color-scheme: none, $type: none) {
  display: flex;
  flex-wrap: no-wrap;

  &__link {
    margin-top: $width / 7.5;

    .link {
      @include link($color-scheme, $type);
    }
  }

  .icon {
    @include icon($width);
  }
}
