@mixin home__status--horizontal {
  @include mobile-and-up {
    justify-content: space-between;
    align-items: flex-end;
    height: 95vh;

    .snow {
      padding-left: $lem;
      padding-right: $lem;
    }

    .snow,
    .weather,
    .status {
      height: $lem * 3;
    }
  }
}
