// Hamburger menu
//
// A pure CSS hamburger menu with an optional text displayed before the icon.
// By default the `Menu` / `Close` text is not displayed.
// Click is managed by a small Javascript function
//
// Styleguide hamburger-menu
@mixin hamburger-menu($width: $lem * 2, $height: $lem * 2, $text: off) {
  height: $height;
  cursor: pointer;

  display: flex;
  align-items: center;

  &__icon {
    @include hamburger-menu__icon($width, $height / 2);
  }

  &__text {
    @include hamburger-menu__text($text);
  }
}
