@mixin pictogram__text($scale) {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    @include text-style(small);
    @include scale($scale);
    margin-bottom: $lem / 4;
  }
}
