@mixin webcam--active {
  .webcam__close,
  .webcam__iframe {
    display: flex;
  }

  .webcam__play {
    display: none;
  }

  @include mobile {
    .webcam__close {
      position: relative;
      bottom: 10vh;
      padding: $lem / 4;
    }
  }
}
