@mixin contact__address {
  @include text-style(default);
  @include text-style(body-text);

  .p {
    @include text-style(small);

    .link {
      @include link(black-on-white, underline);
    }
  }

  @include contact__address--portrait;
  @include contact__address--mobile;
}
