

// Fonts
//
// Typefaces and fonts used across the site.
// They are never used directly but set up properly with the `text-style` mixin.
//
// Styleguide fonts




// Nimbus Sans
// - The default typeface, sans-serif
// - character set: Full character set, with OpenType Features
// - served from local
// - styles and weights: Regular, Bold, Black, 



// Font faces















@font-face {
  font-family: 'nimbus-sans';
  src: url(http://www.somlyo.ro/assets/fonts/nimbussanl-reg-webfont.ttf) format("truetype"), url(http://www.somlyo.ro/assets/fonts/nimbussanl-reg-webfont.woff) format("woff"), url(http://www.somlyo.ro/assets/fonts/nimbussanl-reg-webfont.woff2) format("woff2");
}


// The font mixin
@mixin font($variant) {

  @if ($variant == 'nimbus-sans-regular') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @if ($variant == 'nimbus-sans-bold') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  @if ($variant == 'nimbus-sans-black') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
}


// Font classes

.nimbus-sans-regular {
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nimbus-sans-bold {
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nimbus-sans-black {
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 900;
  font-style: normal;
}

