// Header
//
// A simple header with a logo and menu.
// The menu is responsive displaying a trigger&mdash;`hamburger-menu`&mdash;on small screens.
// If you want to make the header fixed the mixin should be included before any flexbox declaration
//
// Styleguide header
@mixin header {
  @include section-padding;
  padding-top: $lem / 2;

  position: absolute;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include logo;
  }

  .hamburger-menu {
    @include hamburger-menu($lem * 1.5, $lem * 1.5, $text: off);
  }

  .menu {
    @include menu;
    display: none;
  }
}
