<header class="header">
  <h3>Partia Kissomlyo Sipalya</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link " href="http://www.somlyo.ro/" title="Partia Kissomlyo Sipalya">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="http://www.somlyo.ro/assets/images/_desktop.png, http://www.somlyo.ro/assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="http://www.somlyo.ro/assets/images/_laptop.png, http://www.somlyo.ro/assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="http://www.somlyo.ro/assets/images/_tablet.png, http://www.somlyo.ro/assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="http://www.somlyo.ro/assets/images/_mobile.png, http://www.somlyo.ro/assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="http://www.somlyo.ro/assets/images/_laptop.png"  alt="">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
  </figcaption>

</a>
</figure>

</nav>

  <nav class="hamburger-menu">
  <h3>Hamburger menu</h3>

  <div class="hamburger-menu__text hamburger-menu__text--closed">
  <span class="opened">Close</span>
  <span class="closed">Menu</span>
</div>

  <div class="hamburger-menu__icon hamburger-menu__icon--closed">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</div>

</nav>

  <nav class="menu">
  <h3>Menu</h3>

  <div class="menu__items">
  <ul class="ul">
    
  </ul>

  <ul class="ul">
    
  </ul>

  <ul class="ul">
    
  </ul>
</div>

</nav>

</header>
