@mixin menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 100%;
  width: 100%;

  .ul {
    justify-content: flex-end;
    @include ul(inline);
    @include colors(white-on-black);
    padding: $lem / 4;
    @include border--thin;
  }
}
