@mixin background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  &__container {
    @include landscape {
      @include intrinsic-ratio(16, 9, '.figure', '.img');
    }

    @include portrait {
      @include intrinsic-ratio(3, 4, '.figure', '.img');
    }

    .figure {
      @include figure($stretch: stretched);
    }
  }
}
