@mixin contact__links--portrait {
  @include portrait {
    width: 100%;

    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    .ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .li {
        margin: $lem / 4 $lem / 4 0;

        &.phone {
          order: 2;
        }

        &.facebook {
          order: 3;
        }
      }
    }
  }
}
