@mixin contact__links--portrait {
  @include portrait {
    flex-basis: 100%;

    .ul {
      display: flex;
      flex-wrap: wrap;

      .li {
        margin: $lem / 4 $lem / 4 0;

        .icon-with-link {
          &__link {
            margin-top: 0;
          }
        }

        &.facebook {
          order: 3;
        }
      }
    }
  }
}
