@mixin menu__items--mobile-and-up {
  @include mobile-and-up {
    flex-direction: row;
    justify-content: space-between;

    margin-top: $lem * 2;
    padding-top: $lem;
    padding-bottom: $lem;
    height: 60vh;
    align-items: center;

    @include colors(white-on-transparent);

    .ul {
      width: 25%;
    }
  }
}
