@mixin home__webcam--tablet-all {
  @include tablet-all {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;

    width: 100%;
    margin-bottom: $lem;

    .webcam-container {
      max-width: none;
    }

    display: none;
    &.active {
      display: flex;
    }
  }
}
