@mixin grid3($item) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  #{$item} {
    flex-grow: 1;
    flex-basis: 28%;

    margin-bottom: $lem;

    &:nth-of-type(3n + 2) {
      margin-left: $lem * 2;
      margin-right: $lem * 2;
    }

    @include grid3--portrait;
    @include grid3--mobile;
    @include grid3--tablet-all;
  }
}
