@mixin home__webcam--laptop {
  @include laptop {
    position: absolute;
    top: 15vh;
    right: 2vw;
    z-index: 1;

    width: 640px;

    .webcam-container {
      max-width: 640px;
    }
  }
}
