@mixin tickets {
  @include section-padding;
  margin-bottom: $lem;

  @include grid3('article');

  &__title {
    display: flex;
    flex-basis: 100%;
    @include text-style(title);
  }

  &__card,
  &__lap,
  &__pass {
    @include tickets--style($lem * 7, 3);
  }

  // Same height card titles on tablets
  @include tablet {
    .tickets__card {
      .title {
        min-height: $lem * 2;
      }
    }
  }

}
