@mixin tickets {
  @include mobile {
    @include grid(1, 0px, $lem);
  }

  @include mobile-and-up {
    @include grid(2, $lem, $lem);
  }

  &__title {
    display: flex;
    flex-basis: 100%;
    margin-bottom: $lem;
    margin-right: 0;
    @include text-style(title);
  }

  .ticket {
    @include ticket;
  }
}
