<section class="tickets">
  <h3 class="tickets__title">Tickets</h3>

  <article class="tickets__lap">
  
  
  
  <h3 class="title"> </h3>

  
  <div class="head">
    <div class="empty"></div>

    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>

  </div>

  
  <div class="row">
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>3 lei</span>
    </div>

    <div class="value">
      <span>4 lei</span>
    </div>
  </div>

  
  <div class="row">
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>2 lei</span>
    </div>

    <div class="value">
      <span>3 lei</span>
    </div>
  </div>


  
  <div class="row">
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>2 pt</span>
    </div>

    <div class="value">
      <span>3 pt</span>
    </div>
  </div>

</article>

  <article class="tickets__card">
  
  
  <h3 class="title"></h3>

  
  <div class="head">
    <div class="empty"></div>

    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>

  </div>

  <div class="row">
    
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
    <span class="text">20 undefined</span>
  
</div>

</div>


    <div class="value">
      <span>25 lei</span>
    </div>

    <div class="value">
      <span>17 lei</span>
    </div>
  </div>

  <div class="row">
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
    <span class="text">40 undefined</span>
  
</div>

</div>


    <div class="value">
      <span>40 lei</span>
    </div>

    <div class="value">
      <span>30 lei</span>
    </div>
  </div>

  <div class="row">
    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
    <span class="text">120 undefined</span>
  
</div>

</div>


    <div class="value">
      <span>105 lei</span>
    </div>

    <div class="value">
      <span>80 lei</span>
    </div>
  </div>
</article>

  <article class="tickets__pass">
  <h3 class="title">Pass / Abonament / Bérlet</h3>

  
  <div class="head">
    <div class="empty"></div>

    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>


    
    <div class="pictogram">
  

  

  <div class="pictogram__text">
  
</div>

</div>

  </div>


  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">4</span>
  </div>


  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>30 lei</span>
    </div>

    <div class="value">
      <span>20 lei</span>
    </div>
  </div>

  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">8</span>
  </div>


  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>50 lei</span>
    </div>

    <div class="value">
      <span>35 lei</span>
    </div>
  </div>

  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">2</span>
  </div>


  <div class="pictogram__text">
  
</div>

</div>


    <div class="value">
      <span>120 lei</span>
    </div>

    <div class="value">
      <span>100 lei</span>
    </div>
  </div>
</article>

</section>
