@mixin tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-basis: 100%;
    @include text-style(title);
  }

  &__card,
  &__lap,
  &__pass {
    @include tickets--style($lem * 7, 3);
  }

  @include tickets--portrait;
  @include tickets--landscape;
}
