


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Partia Kissomlyo Sipalya</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    
    <script src="/assets/scripts/picturefill.min.js"></script>
  

    
  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    




  
  
  <header class="header">
  <h3>Partia Kissomlyo Sipalya</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Partia Kissomlyo Sipalya">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/kissomlyo-logo-white_desktop.png, /assets/images/kissomlyo-logo-white_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/kissomlyo-logo-white_laptop.png, /assets/images/kissomlyo-logo-white_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/kissomlyo-logo-white_tablet.png, /assets/images/kissomlyo-logo-white_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/kissomlyo-logo-white_mobile.png, /assets/images/kissomlyo-logo-white_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/kissomlyo-logo-white_laptop.png"  alt="Logo">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Logo
  </figcaption>

</a>
</figure>

</nav>

  <aside class="weather">
  <h3>Weather</h3>

  <div class="openweather" data-url="http://api.openweathermap.org/data/2.5/weather?id=673441&amp;APPID=9964e389ad98f64811222db158f7adb9&amp;units=metric">
    <div class="openweather__icon">
      <img src="http://openweathermap.org/img/w/" alt="Openweather icon" class="img">
    </div>

    <div class="openweather__celsius">
      <span class="value"></span>
      <span class="label">&deg;C</span>
    </div>
  </div>
</aside>

</header>


  
  <section class="slider">
  <h3>Slider</h3>

  
  <div class="slider__slides">
  
    
    <article class="slide">
  <h3 class="slide__title">Slide 1</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/P1280717-landscape_desktop.png, /assets/images/P1280717-landscape_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/P1280717-landscape_laptop.png, /assets/images/P1280717-landscape_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/P1280717-portrait_tablet.png, /assets/images/P1280717-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/P1280717-portrait_mobile.png, /assets/images/P1280717-portrait_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/P1280717-landscape_laptop.png"  alt="By night">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    By night
  </figcaption>


</figure>

</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 3</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/pano-1-landscape_desktop.png, /assets/images/pano-1-landscape_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/pano-1-landscape_laptop.png, /assets/images/pano-1-landscape_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/pano-1-portrait_tablet.png, /assets/images/pano-1-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/pano-1-portrait_mobile.png, /assets/images/pano-1-portrait_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/pano-1-landscape_laptop.png"  alt="By night">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    By night
  </figcaption>


</figure>

</article>

  
</div>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
    


  


<div class="bullet active">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
</nav>

</section>


  
  <section class="home__map-and-news">
  <h3>Map and News</h3>

  <article class="news">
  <h3 class="news__title">News</h3>

  <div
    class="fb-page"
    data-href="https://www.facebook.com/kissomlyo"
    data-adapt-container-width="false"
    data-height="1621"
    data-width="340"
    data-small-header="true"
    data-hide-cover="true"
    data-show-facepile="false"
    data-show-posts="true">
  </div>

</article>


  
  <article class="map">
  <h3 class="map__title">Map</h3>

  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/tracks_desktop.png, /assets/images/tracks_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/tracks_laptop.png, /assets/images/tracks_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/tracks_tablet.png, /assets/images/tracks_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/tracks_mobile.png, /assets/images/tracks_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/tracks_laptop.png"  alt="Tracks Map">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Tracks Map
  </figcaption>


</figure>

</article>

</section>


  
  <section class="tickets">
  <h3 class="tickets__title">Tickets</h3>

  <article class="tickets__lap">
  <h3>Lap</h3>

  
  <div class="head">
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">1</span>
  </div>


  <div class="pictogram__text">
  
    <span class="text">lap</span>
  
    <span class="text">urcare</span>
  
    <span class="text">felvonas</span>
  
</div>

</div>


    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-day.svg" alt="day"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">10.00 - 18.00</span>
  
</div>

</div>


    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-night.svg" alt="night"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18.00 - 21.00</span>
  
</div>

</div>

  </div>

  
  <div class="row">
    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-adult.svg" alt="adult"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18+</span>
  
</div>

</div>


    <div class="value">
      <span>3 lei<span>
    </div>

    <div class="value">
      <span>4 lei<span>
    </div>
  </div>

  
  <div class="row">
    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-children.svg" alt="children"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18-</span>
  
</div>

</div>


    <div class="value">
      <span>2 lei<span>
    </div>

    <div class="value">
      <span>3 lei<span>
    </div>
  </div>


  
  <div class="row">
    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-card.svg" alt="card"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">card</span>
  
    <span class="text">card</span>
  
    <span class="text">kartya</span>
  
</div>

</div>


    <div class="value">
      <span>2 pt<span>
    </div>

    <div class="value">
      <span>3 pt<span>
    </div>
  <div>

</article>

  <article class="tickets__card">
  <h3>Card</h3>

  
  <div class="head">
    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-card.svg" alt="card"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">card</span>
  
    <span class="text">card</span>
  
    <span class="text">kartya</span>
  
</div>

</div>


    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-adult.svg" alt="adult"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18+</span>
  
</div>

</div>


    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-children.svg" alt="children"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18-</span>
  
</div>

</div>

  </div>

  <div class="row">
    <div class="item">
      <span>20 pt<span>
    </div>

    <div class="value">
      <span>25 lei<span>
    </div>

    <div class="value">
      <span>17 lei<span>
    </div>
  </div>

  <div class="row">
    <div class="item">
      <span>40 pt<span>
    </div>

    <div class="value">
      <span>40 lei<span>
    </div>

    <div class="value">
      <span>30 lei<span>
    </div>
  </div>

  <div class="row">
    <div class="item">
      <span>120 pt<span>
    </div>

    <div class="value">
      <span>105 lei<span>
    </div>

    <div class="value">
      <span>80 lei<span>
    </div>
  </div>
</article>

  <article class="tickets__pass">
  <h3>Pass</h3>

  
  <div class="head">
    <div class="title">
      <span>Pass / Abonament / Berlet<span>
    </div>

    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-adult.svg" alt="adult"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18+</span>
  
</div>

</div>


    
    <div class="pictogram">
  
  <div class="pictogram__icon">
    
    <div class="icon">
  <img src="/assets/images/icon-children.svg" alt="children"> 
</div>

  </div>


  

  <div class="pictogram__text">
  
    <span class="text">18-</span>
  
</div>

</div>

  </div>


  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">4</span>
  </div>


  <div class="pictogram__text">
  
    <span class="text">hrs</span>
  
    <span class="text">ore</span>
  
    <span class="text">ora</span>
  
</div>

</div>


    <div class="value">
      <span>30 lei<span>
    </div>

    <div class="value">
      <span>20 lei<span>
    </div>
  </div>

  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">8</span>
  </div>


  <div class="pictogram__text">
  
    <span class="text">hrs</span>
  
    <span class="text">ore</span>
  
    <span class="text">ora</span>
  
</div>

</div>


    <div class="value">
      <span>50 lei<span>
    </div>

    <div class="value">
      <span>35 lei<span>
    </div>
  </div>

  <div class="row">
    
    
    <div class="pictogram">
  

  
  <div class="pictogram__number">
    <span class="number">2</span>
  </div>


  <div class="pictogram__text">
  
    <span class="text">days</span>
  
    <span class="text">zile</span>
  
    <span class="text">nap</span>
  
</div>

</div>


    <div class="value">
      <span>120 lei<span>
    </div>

    <div class="value">
      <span>100 lei<span>
    </div>
  </div>
</article>

</section>








    <script src="/assets/scripts/imagesloaded.pkgd.min.js"></script>
  
    <script src="/assets/scripts/hammer.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

