


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Partia Kissomlyo Sipalya</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="https://use.typekit.net/nvy7idl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    
    <script src="/assets/scripts/picturefill.min.js"></script>
  

    
  </head>

  <body>




  
  <section class="background-video">
  <h3>Background video</h3>

  
  <video class="video-fullscreen" autoplay loop poster="/assets/images/P1280717-landscape_laptop.png">
  

  
    <source src="/assets/videos/mark_romano--nantucket_docks.mp4" type="video/mp4">
  
</video>

</section>


  
  
  <header class="header">
  <h3>Partia Kissomlyo Sipalya</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Partia Kissomlyo Sipalya">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/kissomlyo-logo_desktop.png, /assets/images/kissomlyo-logo_desktop2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/kissomlyo-logo_laptop.png, /assets/images/kissomlyo-logo_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/kissomlyo-logo_tablet.png, /assets/images/kissomlyo-logo_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/kissomlyo-logo_mobile.png, /assets/images/kissomlyo-logo_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/kissomlyo-logo_laptop.png"  alt="Logo">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Logo
  </figcaption>

</a>
</figure>

</nav>

  <nav class="hamburger-menu">
  <h3>Hamburger menu</h3>

  <div class="hamburger-menu__text hamburger-menu__text--closed">
  <span class="opened">Close</span>
  <span class="closed">Menu</span>
</div>

  <div class="hamburger-menu__icon hamburger-menu__icon--closed">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</div>

</nav>

  <nav class="menu">
  <h3>Menu</h3>

  <div class="menu__items">
  <ul class="ul">
    
      <li class="li" data-url="webcam">Live</li>
    
      <li class="li" data-url="news">News</li>
    
      <li class="li" data-url="tickets">Tickets</li>
    
      <li class="li" data-url="map">Map</li>
    
      <li class="li" data-url="slider">Photos</li>
    
      <li class="li" data-url="contact">Contact</li>
    
  </ul>

  <ul class="ul">
    
      <li class="li" data-url="webcam">Webcam</li>
    
      <li class="li" data-url="news">Stiri</li>
    
      <li class="li" data-url="tickets">Bilete</li>
    
      <li class="li" data-url="map">Harta</li>
    
      <li class="li" data-url="slider">Imagini</li>
    
      <li class="li" data-url="contact">Contact</li>
    
  </ul>

  <ul class="ul">
    
      <li class="li" data-url="webcam">Webkamera</li>
    
      <li class="li" data-url="news">Hírek</li>
    
      <li class="li" data-url="tickets">Jegyek</li>
    
      <li class="li" data-url="map">Pályatérkép</li>
    
      <li class="li" data-url="slider">Fotók</li>
    
      <li class="li" data-url="contact">Kapcsolat</li>
    
  </ul>
</div>

</nav>

</header>


  
  
  
  <section class="home__status">
  <h3>Status, weather, snow data</h3>

  <aside class="status">
  <h3>Status</h3>

  
    <p>We are open</p>
  
    <p>Partia este deschisa</p>
  
    <p>Működik a sípálya</p>
  
</aside>

  <aside class="snow">
  <h3>Snow level</h3>

  <p>123cm</p>
</aside>

  <aside class="weather">
  <h3>Weather</h3>

  <div class="openweather" data-url="http://api.openweathermap.org/data/2.5/weather?id=673441&amp;APPID=9964e389ad98f64811222db158f7adb9&amp;units=metric">
    <div class="openweather__icon">
      <img src="http://openweathermap.org/img/w/" alt="Openweather icon" class="img">
    </div>

    <div class="openweather__celsius">
      <span class="value"></span>
      <span class="label">&deg;C</span>
    </div>
  </div>
</aside>

</section>


  
  <article class="news">
  <h3 class="news__title">News / Stiri / Hírek</h3>

  <div class="news__body" data-url="https://graph.facebook.com/190411127720650/feed?access_token=623115991164313|361a09a90d9c4c36fc75b8f136feadd1"></div>
</article>








    <script src="/assets/scripts/imagesloaded.pkgd.min.js"></script>
  
    <script src="/assets/scripts/hammer.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

