html {
  &.home {
    body {
      .background-video {
        @include background-video;
      }

      .header {
        @include header;
      }

      .home__status {
        @include home__status;
      }

    }
  }
}
