html {
  &.home {
    body {
      .header {
        @include header;
      }

      .slider {
        @include slider;
      }

      .home__map-and-news {
        @include home__map-and-news;
      }
    }
  }
}
