


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Partia Kissomlyo Sipalya</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    
    <script src="/assets/scripts/picturefill.min.js"></script>
  

    
  </head>

  <body>




  
  
  <header class="header">
  <h3>Partia Kissomlyo Sipalya</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="Partia Kissomlyo Sipalya">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/kissomlyo-logo-white_desktop.png, /assets/images/kissomlyo-logo-white_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/kissomlyo-logo-white_laptop.png, /assets/images/kissomlyo-logo-white_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/kissomlyo-logo-white_tablet.png, /assets/images/kissomlyo-logo-white_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/kissomlyo-logo-white_mobile.png, /assets/images/kissomlyo-logo-white_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/kissomlyo-logo-white_laptop.png"  alt="Logo">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Logo
  </figcaption>

</a>
</figure>

</nav>

  <aside class="weather">
  <h3>Weather</h3>

  <div class="openweather" data-url="http://api.openweathermap.org/data/2.5/weather?id=673441&amp;APPID=9964e389ad98f64811222db158f7adb9"></div>
</aside>

</header>


  
  <section class="slider">
  <h3>Slider</h3>

  
  <div class="slider__slides">
  
    
    <article class="slide">
  <h3 class="slide__title">Slide 1</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #1</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 2</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #2</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 3</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #3</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
</div>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
    


  


<div class="bullet active">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
</nav>

</section>








    <script src="/assets/scripts/imagesloaded.pkgd.min.js"></script>
  
    <script src="/assets/scripts/hammer.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

