html {
  &.home {
    body {
      .header {
        @include header;
      }

      .status {
        @include status;
      }

      .navigation {
        @include navigation;
      }

      .home__webcam {
        @include home__webcam;
      }

      .slider {
        @include slider;
        //display: none;
      }

      .home__map-and-news {
        @include home__map-and-news;
        //display: none !important;
      }

      .tickets {
        @include tickets;
      }

      .contact {
        @include contact;
      }
    }
  }
}
