@mixin tickets--style($width, $count) {
  display: flex;
  flex-direction: column;

  margin: $lem 0;

  border: 1px solid;
  box-shadow: $lem / 4 $lem / 4;

  .title {
    display: flex;
    @include text-style(subtitle);
    padding: $lem / 2;
  }

  .head,
  .row {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;

    margin: $lem / 2;
    @include border--normal;
  }

  // Row last border
  .row {
    &:last-of-type {
      border: none;
    }
  }

  // Half widths
  .value {
    width: $width / 2;
  }

  .head {
    .pictogram {
      @include pictogram($width / 2, centered);
    }
  }

  // Full widths
  .row {
    .pictogram {
      @include pictogram($width);
    }
  }

  .empty,
  .item, {
    width: $width;
  }

}
