@mixin news-item {
  @include text-style(body-text);
  max-width: none;
  
  padding: $lem / 2;
  background: url('/assets/images/news-background.png');

  &__date {
    @include news-item__date;
  }

  &__message {
    @include news-item__message;
  }
}
