@mixin navigation--mobile-and-up {
  @include mobile-and-up {
    &--mobile-and-up {
      display: flex;
      flex-direction: column;
      padding: $lem 0;

      .ul {
        @include ul(inline);

        .li {
          @include text-style(title);
        }

        + .ul {
          margin-top: $lem / 2;
        }
      }
    }

    &--mobile {
      display: none;
    }
  }
}
