@mixin navigation--mobile-and-up {
  @include mobile-and-up {
    &--mobile-and-up {
      display: flex;
      flex-direction: column;

      .ul {
        @include ul(inline);
        padding: $lem / 2 0;

        .li {
          @include text-style(title);
        }
      }
    }

    &--mobile {
      display: none;
    }
  }
}
