// Logo
//
// Standard sized logo. Based on [Standard Banner Sizes for Web](http://designerstoolbox.com/designresources/banners/)
//
//
// Styleguide logo
@mixin logo {
  .figure {
    @include figure($loading: false);
  }
}
